body {
    background: linear-gradient(315deg,#0cbaba 0%, #380036 74%);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}





@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.carruselbackground{
    background-color: rgba(7, 7, 7, 0.479);;
    padding: 3px;
}

p,h1{
    color: white;
    font-size: 1em;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

