.cart123{
    visibility: hidden;
    color: white;
}
  
  .test1:hover .cart123 {
    /* display: block; */
    visibility: visible;
  }


.fondo{
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px;
    color: black;
}